*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
::selection{
    background-color: rgb(0, 132, 255);
    color: black;
}

.marvel-elements,
.marvel-classes{
    padding: 24px;
    color:rgb(70, 0, 128);
}
.h1{
    text-align: center;
    margin-bottom: 32px;
    
}
.para::first-line {
    color: #fc5cc7;
}
.para::after{
    
    content: url(https://images.thedirect.com/media/article_full/marvel-studios-avengers-television.jpg);
    
}
.marvel-classes{
    text-align: center;
}
a:link{
    text-decoration: none;
    color: #0447ff;
    border: 2px solid #0447ff;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    font-size: large;
}
a:visited{
    color: palevioletred;
}
a:hover{
    text-decoration: underline;
    background-color: red;
    color: white;
}


.button {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    font-size: larger;
    padding: 10px;
    border-radius: 10px;
  }
  
  .button:hover {
    background-color: black;
    color: goldenrod;
  }
   

.button:active{
    background-color: black;
    color: goldenrod;
}

.dc-elements,
.dc-classes{
    padding: 24px;
    color:rgb(70, 0, 128);
}
.h1{
    text-align: center;
    margin-bottom: 32px;
    
}
.para1::first-line {
    color: #fc5cc7;
}

.dc-classes{
    text-align: center;
}
img{
    width: 80%;
}