*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
::selection{
    background-color: rgb(0, 132, 255);
    color: black;
}

.pseudo-elements{
    padding: 24px;
    color:rgb(0, 55, 255);

}
.pseudo-classes{
    padding: 24px;
    color:rgb(244, 4, 84);
}
.h1{
    text-align: center;
    margin-bottom: 32px;
    color: #815cfc;
}
.para::first-line {
    color: #ff0800;
}
.para::after{
    content: url(https://th.bing.com/th/id/OIP.zOYUMNbJiPdKhDcsxCyYZwHaE5?w=249&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7);
    margin-left: 600px;
}
.pseudo-classes{
    text-align: center;
}
a:link{
    text-decoration: none;
    color: #00fff7;
}
a:visited{
    color: rgb(112, 162, 216);
}
a:hover{
    text-decoration: underline;
    color: purple;
    border: 3px solid purple;
    padding: 10px;
    border-radius: 10px;
}


.button {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button:hover {
    background-color: #4CAF50;
    color: white;
  }
   

.button:active{
    background-color: greenyellow;
}
.elonmusk:hover{
    color: #0703f1;
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
}