.tables-section {
    text-align: center;
  }
  .table {
    height: 10px;
    width: 100%;
    border: 3px;
    border-style: solid;
  }
  .table2 {
    height: 10px;
    width: 100%;
    border: 3px;
    border-style: solid;
  }
  